# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\PyTest\CactiFlowPic\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
